<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Web_Task_ManagerConnectionString1" connectionString="Data Source=MANJU-PC\SQLEXPRESS;Initial Catalog=Web_Task_Manager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="5048576" executionTimeout="6000" requestValidationMode="2.0" />
  </system.web>
</configuration>